body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    padding: 0px;
}
#pp {
    font-family: bahnschrift;
}

h1 {
    text-align: center;
    color: black;
}
.xx {    
    height: auto;
    width: 90%;
    max-width: 1528px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;
}

.inner {
    width: 500px;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(50, 48, 48);   
    border-radius: 10px;
    padding: 20px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    font-size: 15px;
    height: 35px;
    width: 100%;
    background-color: #1439A6;
    color: white;
    border-radius: 4px;
    border-color: darkblue;
    cursor: pointer;
}

button:hover {
    background-color: #0f2b80;
}




